<html>
<form method="post" action="/create_question">

	<h1>Register New Question</h1>

	<table>
		<tr>
			<td>
				Exam Name:&nbsp;
			</td>
			<td>
				<!-- ドロップダウンを表示 -->
				<select name="exam_id" size="1">
					<option value="blank" selected="selected" >--試験を選択--</option>
					<% examList.forEach(function(exam) { %>
						<option value = "<%= exam.ID %>" >
							<%= exam.EXAM_NAME %>
						</option>
					<% }); %>  
 				</select>
			</td>
		</tr>
		<tr>
			<td>
				Category 1:&nbsp;
			</td>
			<td>
				<!-- ドロップダウンを表示 -->
				<select name="parent_question_category" size="1">
					<option value="blank" selected="selected" >--カテゴリ1を選択--</option>
					<% questionCategoryList.forEach(function(questionCategory) { %>
						<option value = "<%= questionCategory.ID %>" >
							<%= questionCategory.CATEGORY_NAME %>
						</option>
					<% }); %>  
 				</select>
			</td>
		</tr>
		<tr>
			<td>
				Category 2:&nbsp;
			</td>
			<td>
				<!-- ドロップダウンを表示 -->
				<select name="parent_question_category" size="1">
					<option value="blank" selected="selected" >--カテゴリ2を選択--</option>
					<% questionCategoryList.forEach(function(questionCategory) { %>
						<option value = "<%= questionCategory.ID %>" >
							<%= questionCategory.CATEGORY_NAME %>
						</option>
					<% }); %>  
 				</select>
			</td>
		</tr>
		<tr>
			<td>
				Type:&nbsp;
			</td>
			<td>
				<input type="radio" name="type" value="SELECT" onclick="onTypeChanged(0)" checked>４択問題
				<input type="radio" name="type" value="TYPE" onclick="onTypeChanged(1)" >コマ問
			</td>
		</tr>
		<tr>
			<td>
				Body
			</td>
			<td>
    			<textarea name="body" rows="8" cols="40"></textarea><br/>
			</td>
		</tr>
		<tr class="selection">
			<td>
				Selection 1:&nbsp;
			</td>
			<td>
				<input type="text" name="selection_1"><br/>
			</td>
		</tr>
		<tr class="selection">
			<td>
				Selection 2:&nbsp;
			</td>
			<td>
				<input type="text" name="selection_2"><br/>
			</td>
		</tr>
		<tr class="selection">
			<td>
				Selection 3:&nbsp;
			</td>
			<td>
				<input type="text" name="selection_3"><br/>
			</td>
		</tr>
		<tr class="selection">
			<td>
				Selection 4:&nbsp;
			</td>
			<td>
				<input type="text" name="selection_4">
			</td>
		</tr>
		<tr>
			<td>
				Answer:&nbsp;
			</td>
			<td>
				<input type="text" name="answer"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Explanation
			</td>
			<td>
    			<textarea name="explanation" rows="8" cols="40"></textarea><br/>
			</td>
		</tr>
		<tr>
			<td>
				Reference URL 1:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url_1"><br/>
			</td>
			<td>
		</tr>
		<tr>
			<td>
				Reference URL 2:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url_2"><br/>
			<td>
		</tr>
		<tr>
			<td>
				Reference URL 3:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url_3"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Reference URL 4:&nbsp;
			</td>
			<td>
				<input type="text" name="ref_url4"><br/>
			</td>
		</tr>
		<tr>
			<td>
				Question Source:&nbsp;
			</td>
			<td>
    			<input type="text" name="qustion_src"><br/>
			</td>
		</tr>
	</table>

    <input type="submit" value="create!">
</form>
<script>

/**
 * 問題の種別によって選択肢の表示・非表示を切り替えるメソッド
**/
function onTypeChanged(num) {
	var elements = document.getElementsByClassName('selection');
	if (num == 0) {
		for( var i=0; i < elements.length; i++ ) {
			elements[i].style.display="";
		}
	} else {
		for( var i=0; i < elements.length; i++ ) {
			elements[i].style.display="none";
		}
	}
}
</script>
</html>
